@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Antonio', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFAEE;
}